$bg-color: #0414b3;
$text-color: #7f14d4;
$link-color: #0e14ee;
$hover-color: #3e14e9;

$margin-cnt: 0 auto;

@mixin my-display-flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

.container-fw{
    width: 100%;
    background-color: $bg-color;
    padding: 5%
}

.container-90{
    width: 90%;
    @include my-display-flex;
    margin: $margin-cnt;
    
}

.container{
    width: 80%;
    @include my-display-flex;
    margin: $margin-cnt;
}

.wrapper{
    width: 70%;
    @include my-display-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: $margin-cnt;
}

.col-left,
.col-right{
    width: calc(100% / 2);
    height: 400px;
}

button{
    border: none;
    padding: 10px;
    background-color: $bg-color;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    vertical-align: middle;
    img{
        width: 20px;
        vertical-align: middle;
        margin-right: 5px;
    }
    &:hover{
        background-color: $hover-color;
    }
}

a{
    display: block;
}

h3 {
    width: 70%;
    margin: auto;
    color: white;
    font-size: 34px;
    text-align: center;
}

hr{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
    color: white;
}