.text-box{
    width: 50%;
    background-color: white;
    padding: 2%;
    margin: 30px auto;
    border-radius: 20px;
    border: 1px solid black;
    position: relative;
    .fas{
        position: absolute;
        top: 0;
        left: 20px;
        transform: translate(-50%, -50%);
        font-size: 26px;
        color: blue;
    }
    p{
        margin: 20px 0;
        text-align: initial;
    }
}

.img-box{
    display: flex;
    img{
        margin-right: 20px;
    }
}

h2{
    color: white;
    font-size: 40px;
    line-height: 2.2;
}