.box{
    width: calc(100% / 3);
    text-align: center;
    img{
        height: 120px;
        margin: 30px;
    }
    .bigger{
    height: 300px;
    margin-bottom: 100px;
    }
    p{
        font-size: 18px;
        color: white;
    }
}

.prova{
    width: 60%;
    background-color: $bg-color;
    height: 300px;
    margin: $margin-cnt;
}

